table {
    width: 100%;
    margin-top: 30px;
    border-spacing: 0px;
    border-collapse: collapse;
}

tr {
    padding: 10px 0;
    border: 0;
    text-align: center;
}

th {
    border-top: 1px solid rgb(211, 210, 210);
    height: 30px;
    font-weight: 400;
}

tbody {
    background-color: rgb(235, 235, 235);
    color: #000;
}

thead {
    background-color: rgb(155, 154, 154);
    font-size: 17px;
    color: #fff;

}
.green{
    background-color: green;
    color: #fff
}
.bold{
    font-weight: 700;
    text-decoration: underline;
    color: #fff;
    background-color: green;
}

.greenNumber {
    font-weight: bold;
}