<!DOCTYPE html>
<html lang="en">

<head>
    <title>Table</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<table class="table">
    <thead>
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Image</th>
        <th>Company</th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}

        <tr>
            <th>{{{email}}}</th>
            <th>{{{name}}}</th>
            {{{ Phone phone }}}
            <th><a target="blank" href="{{image-url}}"><img height="50px" src="{{image-url}}" alt=""></a></th>
            {{{ Company company}}}
        </tr>
    {{/each}}
    </tbody>
</table>
</body>
</html>